<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Intersoft.Crosslight" version="6.0.5000.975" targetFramework="net472" />
  <package id="Intersoft.Crosslight.Data" version="6.0.5000.975" targetFramework="net472" />
  <package id="Intersoft.Crosslight.Data.Sqlite" version="6.0.5000.975" targetFramework="net472" />
  <package id="Microsoft.Data.Sqlite.Core" version="8.0.3" targetFramework="net472" />
  <package id="NDbUnit.Core" version="1.6.8.0" targetFramework="net472" />
  <package id="NDbUnit.SqlLite" version="1.6.8.0" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="2.1.6" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
</packages>